/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal */
.container {
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos do cabeçalho */
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px 10px 0 0;
}

/* Carrossel */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-images img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 400px;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-images img {
        height: 250px;
    }
}
